<!doctype html>
<title>Hasas</title>
<meta http-equiv="refresh" content="3">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
<body class="container">

<h1>Hasas</h1>

{% with messages = get_flashed_messages(with_categories=True) %}
  {% if messages %}
    <ul>
    {% for category, message in messages %}
      <li class="alert alert-{{ category }}">
        <strong>{{ category.upper() }}: </strong> {{ message }}
    </li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

{% if unapproved_units %}
<h2>New unapproved units</h2>
<table class="table">
    <tr><th>ID</th><th>Alias</th><th>Description</th><th>IP</th><th>Public key</th><th>Unit type</th><th>Actions</th></tr>
    {% for unit in unapproved_units %}
        <tr>
            <td>{{ unit.id }}</td>
            <td>
                <input type="text" name="alias" value="{{ unit.alias }}" form="update-unit-form-{{ loop.index }}">
            </td>
            <td>
                <input type="text" name="description" value="{{ unit.description }}" form="update-unit-form-{{ loop.index }}">
            </td>
            <td>{{ unit.ip }}</td>
            <td>{{ unit.certificate }}</td>
            <td>{{ unit.unit_type }}</td>
            <td>
                <form method="post" action="{{ url_for('approve_unit', unit_id=unit.id) }}" class="form-inline" id="update-unit-form-{{ loop.index }}">
                    <input type="submit" value="Accept" class="btn btn-primary">
                </form>
                <form method="post" action="{{ url_for('reject_unit', unit_id=unit.id) }}" class="form-inline">
                    <input type="submit" value="Reject" class="btn btn-danger">
                </form>
            </td>
        </tr>
    {% endfor %}
</table>
{% endif %}

<h2>My units</h2>
<table class="table">
    <tr><th>ID</th><th>Alias</th><th>Description</th><th>IP</th><th>Public key</th><th>Unit type</th><th>Last checkin</th><th>Actions</th><th>Slett</th></tr>
    {% for unit in approved_units %}
        <tr>
            <td>{{ unit.id }}</td>
            <td>
                <input type="text" name="alias" value="{{ unit.alias }}" form="update-unit-form-{{ loop.index }}">
            </td>
            <td>
                <input type="text" name="description" value="{{ unit.description }}" form="update-unit-form-{{ loop.index }}">
            </td>
            <td>{{ unit.ip }}</td>
            <td>{{ unit.certificate }}</td>
            <td>{{ unit.unit_type }}</td>
            <td>{{ unit.last_checkin.strftime('%H:%M:%S') if unit.last_checkin else 'Not heard from yet'}}</td>
            <td>
                <form method="post" action="{{ url_for('update_unit', unit_id=unit.id) }}" class="form-inline" id="update-unit-form-{{ loop.index }}">
                    <input type="submit" value="Update" class="btn btn-primary">
                </form>
            </td>
            <td>
                <form method="post" action="{{ url_for('delete_unit', unit_id=unit.id) }}?_method=DELETE" class="form-inline">
                    <input type="submit" value="Delete" class="btn btn-danger">
                </form>
            </td>
        </tr>
    {% endfor %}
</table>
</body>
